#entry{
  margin-top: 3em;
  font-size: 1.5em;
  line-height: 1.8em;
}

#entry img{
  width: 13em;
  height: 17em;
  display: inline-block;
  vertical-align: top;
}

#entry section{
  display: inline-block;
  width: calc(100% - 15em);
  padding-left: 1.2em;
}

#entry section h3{
  position: static;
  left: 0;
  font-size: 1.5em;
  line-height: 110%;
  margin-bottom: 0.5em;
}

#entry section p{
  text-indent: 1.8em;
}

#positionMarkerbox{
	text-align: right;
	width: 100%;
	margin-top: 2.5em;
}

.positionMarker{
  display: inline-block;
  width: 2em;
  height: 2.3em;
  border: #aabbff solid 3px;
  margin: 0.24em;
}

.positionMarker:hover{
  background-color: #ccddff
}

#zurueckbutton:before{
  content: "^";
  display: block;
  position: absolute;
  margin-top: -0.7em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: bottom;
  font-size: 3em;
  font-weight: 550;
  color: darkgrey;
}
#zurueckbutton{
  display: block;
  position: absolute;
  bottom: 0px;
  right: 9em;
  margin-left: auto;
  margin-right: auto;
  width: calc(4.5em + 2px);
  padding-top: 2em;
  padding-bottom: 0.8em;
  font-size: 1.8em;
  text-align: center;
  border-top-right-radius: 80%;
  border-top-left-radius: 80%;
  border: #cc0000 outset 2px;
  border-bottom: none;
  box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.5);
}