#entry{
  margin-top: 3em;
  padding: 2em;
  font-size: 1.5em;
  line-height: 1.8em;
  height: 13em;
}
#entry:before{
  content: " ";
  position: absolute;
  left: 0;
  margin-top: -2em;
  display: block;
  width: 2000px;
  height: 21em;
  background-color: #eee;
  z-index: -9999;
}

#entry img{
  width: 13em;
  height: 17em;
  display: inline-block;
  vertical-align: top;
}

#entry section{
  display: inline-block;
  width: calc(100% - 15em);
  padding-left: 1.2em;
}

#entry section h3{
  position: static;
  left: 0;
  font-size: 1.5em;
  line-height: 110%;
  margin-bottom: 0.5em;
}

#entry section p{
  text-indent: 1.8em;
  font-weight: 500;
}

#positionMarkerbox{
	position: absolute;
	right: 3em;
	top: 2em;
	text-align: right;
	bottom: 1em;
}

.positionMarker{
  display: inline-block;
  width: 2em;
  height: 2.3em;
  border: #aabbff solid 3px;
  margin: 0.25em;
}

.positionMarker:hover{
  background-color: #ccddff
}

#zurueckbutton:before{
  content: "^";
  display: block;
  position: absolute;
  margin-top: -0.2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: bottom;
  font-size: 3em;
  font-weight: 550;
  color: lightgrey;
}
#zurueckbutton{
  display: block;
  position: absolute;
  bottom: 1em;
  right: 2em;
  margin-left: auto;
  margin-right: auto;
  width: calc(4.5em + 2px);
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 1.8em;
  text-align: center;
  border: #8899ff outset 2px;
  border-bottom: none;
  box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.5);
  background-color: #99aaff;
  color: #99aaff;
}